@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #1F2937;
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #1F2937;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(91, 80, 209);
    border-radius:5px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(56, 48, 140);
}